body{
    background: repeating-linear-gradient(white, white 20px, rgb(255, 255, 195) 20px, rgb(255, 255, 195) 25px);
}
.form-group{
    margin-bottom: 0px;
    display: flex;
}
.postSection{
    margin-right: 10px;
}
.menu{
    position: fixed;
    bottom: 0px;
    background-color: yellow;
    width: 100%;
}
.menu-element{
    display: inline-block;
}
.sendButton{
    background-color: yellow;
}
.sendButton:hover{
    box-shadow: 2px 2px 5px gray;
}
#quote{
    position: fixed;
    right: 10px;
    margin-top: 25px;
}
#siteName{
    margin-left: 10px;
    margin-bottom: 15px;
}
.individualMessageDiv{
    border-style: dotted;
    border-width: 3px;
    border-color: black;
    margin-bottom: 10px;
    width: 200px;
    height: 75px;
    margin-left: 10px;
    padding-left: 5px;
    background-color: white;
}
.name{
    color: blue;
}
.message{
    font-size: 20px;
}